<% layout('layouts/boilerplate') -%>
<body>
    <div class="container mt-4 row col-7 offset-2"  >
        <h2>Update your list details</h2>
        <form action="/listings/<%= listing._id %>?_method=put" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="listing[title]" value="<%= listing.title %>" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="listing[description]" required><%= listing.description %></textarea>
                <div class="invalid-feedback">enter valid charachters</div>
            </div>
            <div class="mb-3">
                <i>"original image"</i> <br>
                <img src="<%= originalImageUrl %>">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload new Image</label>
                <input type="file" class="form-control" id="image" name="listing[image]">
            </div>
            <div class="row">
                <div class="mb-3 col-md-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="number" class="form-control" id="price" name="listing[price]" value="<%= listing.price %>" required>
                    <div class="invalid-feedback">price should be valid</div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" name="listing[country]" value="<%= listing.country %>" required>
                    <div class="invalid-feedback">country name is invalid!</div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="listing[location]" value="<%= listing.location %>" required>
                <div class="invalid-feedback">location should correct</div>
            </div>
            <button type="submit" class="btn-edit btn btn-primary">Edit</button>
        </form>
    </div>
</body>
